@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@1,900&display=swap');

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(
      to bottom right,
      transparent 50%,
      transparent 50.5%
    )
    no-repeat bottom, /* bottom part */
    linear-gradient(100deg, black, red) no-repeat top;
    /* top portion */
    padding-bottom: 3.5rem;
    background-size: 100% 3rem, 100% calc(100% - 3rem)

}

.header img {
    max-width: 12rem;
}

.header h1 {
    margin: 0;
    padding: 2rem;
    color: white;
    font-family: 'Exo', sans-serif;
}  
